body {
  font-family: "lucida";
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.welcome-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

/* The frosted glass content on top of the welcome image */
.typeWriter {
  position: absolute;
  left: 20px;
  padding: 20px;
  min-height: 250px;
  width: 21%;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  color: #eee;
  font-family: "roboto", sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(0, -600px);
  overflow: hidden;
  display: block;
}

.typeWriter p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #eee;
  animation: typing 3s steps(22) forwards, blink 1s step-end infinite;
  display: inline-block;
}

.typeWriter .safepay {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: none;
  font-weight: normal;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Section Styles */
section {
  padding: 10px 5px;
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

/* Scroll Animations */
.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .setting-icon {
  position: absolute;
  top: 0.25%;
  left: 50%;
  transform: translateX(-50%);
}

.hero .setting-icon img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.hero .setting-icon .autoRotate {
  animation: autoRotateAnimation;
  /* animation-timeline: view(); */
}

@keyframes autoRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pic4 animations */
.hero .pic4 {
  position: absolute;
  top: 320px;
  left: 1050px;
}

.hero .pic4 img {
  height: 400px;
  width: 450px;
  object-fit: contain;
}

.hero .pic4 .autoShow {
  animation: autoShowAnimation;
  /* animation-timeline: view(40% auto); */
}

/* Pic2 animations */
.hero .pic2 {
  position: absolute;
  top: 650px;
  left: 1px;
}

.hero .pic2 img {
  width: 550px;
  height: auto;
  object-fit: contain;
}

.hero .pic2 .autoShow {
  animation: autoShowAnimation;
  /* animation-timeline: view(40% auto); */
}

/* Pic1 animations */
.hero .pic1 {
  position: absolute;
  top: 1120px;
  left: 1050px;
}

.hero .pic1 img {
  height: 400px;
  width: 450px;
  object-fit: contain;
}

.hero .pic1 .autoShow {
  animation: autoShowAnimation;
  /* animation-timeline: view(40% auto); */
}

/* Learn more button */
.learnMore .cta {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 600;
  position: absolute;
  top: 88%;
  left: 45%;
  padding: 15px 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero .autoShow {
  animation: autoShowAnimation;
  /* animation-timeline: view(40% auto); */
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 1%;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

/*Paragraph 1*/
.hero .para1 {
  position: absolute;
  top: 27%;
  width: 1000px;
  left: 0%;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: silver;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin: 20px;
  padding-left: 10px;
  border-left: 3px solid lightblue;
  animation: autoShowAnimation;
  /* animation-timeline: view(100% auto); */
}

.hero h2 {
  position: absolute;
  top: 50%;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  right: 1%;
}

.hero .para2 {
  position: absolute;
  top: 57%;
  width: 1000px;
  right: 0%;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: silver;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin: 20px;
  padding-right: 10px;
  border-right: 3px solid lightblue;
  animation: autoShowAnimation;
  /* animation-timeline: view(100% auto); */
}

.hero h3 {
  position: absolute;
  top: 73%;
  left: 1%;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.hero .para3 {
  position: absolute;
  top: 80%;
  width: 1000px;
  left: 0%;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: silver;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin: 20px;
  padding-left: 10px;
  border-left: 3px solid lightblue;
  animation: autoShowAnimation;
  /* animation-timeline: view(100% auto); */
}

@keyframes slideInLeft {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.what-we-do h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

/* Card Section */
.card {
  display: grid;
  place-items: center;
  margin-inline-end: 1.5rem;
  padding-block: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 10fr 1fr;
  position: relative;
  overflow: hidden;
}

.card-item {
  display: grid;
  grid-template-rows: auto;
  row-gap: 0;
}

.card-article {
  position: relative;
  text-align: left;
  overflow: hidden;
  width: 440px;
  height: 440px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.cardData {
  width: 300px;
  background-color: #e2f0eb4d;
  padding: 5px 20px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  transition: opacity 1s 1s;
  opacity: 0px;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
}

.cardDescription {
  display: block;
  font-size: small;
  margin-bottom: 0.25rem;
  color: black;
}

.cardTitle {
  color: black;
  margin-bottom: 0.75rem;
  margin-top: 0.1rem;
}

.cardButton {
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  color: black;
}

.cardButton:hover {
  text-decoration: underline;
}

.card-article:hover .cardData {
  animation: showData 1s forwards;
  z-index: 2;
}

.card-article:hover {
  animation: removeOverflow 2s forwards;
}

.card-article:not(:hover) {
  animation: showOverflow 2s forwards;
  z-index: 0;
}

.card-article:not(:hover) .cardData {
  animation: removeData 1s forwards;
  z-index: 0;
}

@keyframes showData {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}

@keyframes removeOverflow {
  to {
    overflow: initial;
  }
}

@keyframes removeData {
  0% {
    transform: translateY(-9rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

@keyframes overFlow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

@media screen and (min-width: 120px) {
  .card {
    height: 100vh;
  }

  .card-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

.autoShow {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-in-out;
  pointer-events: none;
}

.autoShow.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.autoCardShow {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-in-out;
  pointer-events: none;
}

.autoCardShow.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.card-article {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease-in-out;
}

.card-article.show {
  opacity: 1;
  transform: translateY(0);
}

.card-content.hover-trigger {
  animation: showData 0.6s ease forwards;
}

.card-article.hide .card-content {
  animation: removeData 0.6s ease forwards;
}

.card-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* When hovered or when triggered via JS */
.card-article:hover .card-content,
.card-article.animate .card-content {
  opacity: 1;
  transform: translateY(0);
}
